* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1B4AC;
    text-align: center;
    margin-top: 11rem;
}

h1 {
    font-size: 2.2rem;
}

#todo-container {
    margin-top: 20px;
}

#task-input {
    padding: 0.6rem;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    font-size: 0.9rem;
    color: rgb(49, 48, 48);
}

.task-item.completed {
    background: rgb(233, 114, 114);
    color: black;
    text-decoration: line-through;
    cursor: pointer;
}

#add-btn {
    padding: 8px 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

#add-btn:hover {
    background-color: rgb(233, 114, 114);
    color: #000000;
}

ul {
    list-style: none;
    margin-top: 1rem; 
}

ul li {
    user-select: none;
}

.done-btn {
    padding: 6px 12px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-btn {
    padding: 6px 8px;
    border-radius: 3px;
    margin: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        margin-top: 5rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    #task-input {
        width: 200px;
        margin-right: 5px;
        padding: 0.5rem;
    }

    #add-btn {
        padding: 6px 15px;
    }

    .done-btn {
        padding: 5px 10px;
    }

    .delete-btn {
        margin: 1rem;
        padding: 5px 6px;
    }
}

@media (max-width: 480px) {
    body {
        margin-top: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    #task-input {
        width: 150px;
        margin-right: 5px;
        padding: 0.4rem;
    }

    #add-btn {
        padding: 5px 10px;
    }

    .done-btn {
        padding: 4px 8px;
    }

    .delete-btn {
        margin: 0.5rem;
        padding: 4px 5px;
    }
}
